@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}

body {
  background: #00001c;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #b3b3b3;
}
header {
  position: fixed;
  width: 95%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
header ul li {
  margin-right: 30px;
}
header ul li a {
  padding: 6px 15px;
  border-radius: 20px;
}

header ul li a:hover {
  background-color: #b3b3b3;
  color: black;
}
header ul li .active {
  background-color: #b3b3b3;
  color: white;
}
.divider {
  width: 100%;
  height: 100vh;
  display: flex;
  font-size: 30px;
  top: 50%;
  left: 5%;
  color: #b3b3b3;
}

.left-side {
  flex: 1;
  background: #00001c;
  height: 100%;
}

.right-side {
  flex: 1;
  background: #00001c;
  height: 100%;
}

.left-content h1 {
  margin-top: 30%;
  margin-left: 50px;
  font-size: 35px;
  font-weight: 900;
}
.left-content h1 span {
  color: #d9fb02;
}

.left-content p {
  margin-left: 50px;
  font-size: 15px;
}


img {
  display: absolute;
  width: 60px;
  clip-path: circle();
  z-index: -1;
  margin-bottom: -30%;
  margin-left: 40px;
  border-radius: 60px;
  border: 2px solid #d9fb02;
}
 
.right-content h5 {
  position: relative;

  margin-left: 310px;
  margin-top: 30%;
}

.right-content form {
  position: absolute;
  margin-left: 250px;
  position: absolute;
  top: 42%;
  left: 61%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 30px 5px;
  background: #00001c;
  box-shadow: 0 15px 20px rgba(74, 73, 73, 0.5);
  border-radius: 20px;
  border: 2px solid #d9fb02;
  color: #b3b3b3;

  
}

.right-content form input[type="text"] {
  margin-left: 30%;
  background: #00001c;
  border: none;
  size: 10px;
  padding: 10px 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #d9fb02;

}
.right-content form button{
  border: #b3b3b3;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 31.2%;

  border-radius: 20px;
  background: #00001c;
  color: #b3b3b3;
  border:1px solid #b3b3b3;


}

.boxes {
  margin-left: 45px;
  margin-top: 20px;
  width:300px;
  padding: 60px;
  border: 2px solid #d9fb02;
  border-radius: 20px;

}

















