@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    background: #00001c;
    height: 100vh;
    box-sizing: border-box;
    
  }
  a {
    text-decoration: none;
    color: #b3b3b3;
  }
  header {
    position: fixed;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
  }
  header ul {

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  header ul li {

    margin-right: 30px;
  }
  header ul li a {

    padding: 6px 15px;
    border-radius: 20px;
  }
  
  header ul li a:hover {
    background-color: #b3b3b3;
    color: black;
  }
  header ul li .active {
    background-color: #b3b3b3;
    color: white;
  }
  .divider {
    width: 100%;
    height: 100vh;
    display: flex;
    font-size: 30px;
    top: 50%;
    left: 5%;
    color: #b3b3b3;
  }
  
  .left-side {
    flex: 1;
    background: #00001c;
    height: 100%;
  }
  
  .right-side {
    flex: 1;
    background: #00001c;
    height: 100%;
  }
  
  .left-content h1 {
    margin-top: 30%;
    margin-left: 50px;
    font-size: 35px;
    font-weight: 900;
  }
  .left-content h1 span {
    color: #d9fb02;
  }
  
  .left-content p {
    margin-left: 50px;
    font-size: 15px;
  }


  /* Cards section */
section{
    position: relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.location{
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: 100px;

 

}

.card{
  display: flex;
  position: relative;
  align-items: center;
  width: 350px;
  height: 190px;
  background: linear-gradient(270deg,#00001c,#01013c);
  border-radius: 20px;
  top: 250px;
  left: 30px;
  box-shadow: 0 35px 80px rgba(0,0, 0, 0.1);
  border:2px solid #d9fb02;
  transition: 0.5s;
  
}

.card:hover{
  height:450px;
  
}

.imgBox{
  position: absolute;
  left:50%;
  top: -50px;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #b3b3b3;
  border-radius: 20px;
  background: linear-gradient(270deg,#00001c,#01013c);
  overflow: hidden;
  transition: 0.5s;


}
.card:hover .imgBox{
  width: 220px;
  height: 220px;
}
.imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card .content{
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   overflow: hidden;


   
}
.card .content .details{
  padding: 40px;
   text-align: center;
   width: 100%;
   transition: 0.5s;
   transform: translateY(150px);

}
.card:hover .content .details{
  transform: translateY(0px);
}

.card .content .details h2{
  font-size: 1.25em;
  font-weight: 600;
  color: #b3b3b3;
  line-height: 1.2em;


}
.card .content .details h2 span{
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card .content .details .data{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
 
}
.card .content .details .data h3{
   font-size: 1em;
   color: #b5b2b2;
   line-height: 1.2em;
   font-weight: 600;
}

.card .content .details .data h3 span{
  font-size: 0.85em;
   font-weight: 400;
   opacity: 0.5;

}

.card .content .details .actionButton{
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.card .content .details .actionButton button{
padding: 10px 30px;
border-radius: 5px;
border: none;
font-size: 1em;
font-weight: 500;
background: #60608e;
color: black;
cursor: pointer;
}

.card .content .details .actionButton button:nth-child(2){
  border: 1px solid #b5b2b2;
  color: aliceblue;
  background: #775ab1;
}

/* second card */

.card-marwa{
  display: flex;
  position: absolute;
  align-items: center;
  width: 350px;
  height: 190px;
  background: linear-gradient(270deg,#00001c,#01013c);
  border-radius: 20px;
  top: 250px;
  left: 400px;
  box-shadow: 0 35px 80px rgba(0,0, 0, 0.1);
  border:2px solid #d9fb02;
  transition: 0.5s;
  z-index: 1;
  
}
.card-marwa:hover{
  height:450px;
}

.imgBox-marwa{
  position: absolute;
  left:50%;
  top: -50px;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #b3b3b3;
  border-radius: 20px;
  background: linear-gradient(270deg,#00001c,#01013c);
  overflow: hidden;
  transition: 0.5s;

}
.card-marwa:hover .imgBox-marwa{
  width: 220px;
  height: 220px;
}

.imgBox-marwa img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card-marwa .content-marwa{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;


  
}
.card-marwa .content-marwa .details-marwa{
 padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);

}
.card-marwa:hover .content-marwa .details-marwa{
 transform: translateY(0px);
}

.card-marwa .content-marwa .details-marwa h2{
 font-size: 1.25em;
 font-weight: 600;
 color: #b3b3b3;
 line-height: 1.2em;


}
.card-marwa .content-marwa .details-marwa h2 span{
 font-size: 0.75em;
 font-weight: 500;
 opacity: 0.5;
}

.card-marwa .content-marwa .details-marwa .data-marwa{
 display: flex;
 justify-content: space-between;
 margin: 20px 0;

}
.card-marwa .content-marwa .details-marwa .data-marwa h3{
  font-size: 1em;
  color: #b5b2b2;
  line-height: 1.2em;
  font-weight: 600;
}

.card-marwa .content-marwa .details-marwa .data-marwa h3 span{
 font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;

}

.card-marwa .content-marwa .details-marwa .actionButton-marwa{
 display: flex;
 justify-content: space-between;
 /* gap: 20px; */
}

.card-marwa .content-marwa .details-marwa .actionButton-marwa button{
padding: 10px 30px;
border-radius: 5px;
border: none;
font-size: 1em;
font-weight: 500;
background: #60608e;
color: black;
cursor: pointer;
}

.card-marwa .content-marwa .details-marwa .actionButton-marwa button:nth-child(2){
 border: 1px solid #b5b2b2;
 color: aliceblue;
 background: #775ab1;
}

/* third card */
.card-hassan{
  display: flex;
  position: absolute;
  align-items: center;
  width: 350px;
  height: 190px;
  background: linear-gradient(270deg,#00001c,#01013c);
  border-radius: 20px;
  top: 250px;
  left: 770px;
  box-shadow: 0 35px 80px rgba(0,0, 0, 0.1);
  border:2px solid #d9fb02;
  transition: 0.5s;
}
.card-hassan:hover{
  height:450px;
}

.imgBox-hassan{
  position: absolute;
  left:50%;
  top: -50px;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #b3b3b3;
  border-radius: 20px;
  background: linear-gradient(270deg,#00001c,#01013c);
  overflow: hidden;
  transition: 0.5s;

}
.card-hassan:hover .imgBox-hassan{
  width: 220px;
  height: 220px;
}

.imgBox-hassan img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card-hassan .content-hassan{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;


  
}
.card-hassan .content-hassan .details-hassan{
 padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);

}
.card-hassan:hover .content-hassan .details-hassan{
 transform: translateY(0px);
}

.card-hassan .content-hassan .details-hassan h2{
 font-size: 1.25em;
 font-weight: 600;
 color: #b3b3b3;
 line-height: 1.2em;


}
.card-hassan .content-hassan .details-hassan h2 span{
 font-size: 0.75em;
 font-weight: 500;
 opacity: 0.5;
}

.card-hassan .content-hassan .details-hassan .data-hassan{
 display: flex;
 justify-content: space-between;
 margin: 20px 0;

}
.card-hassan .content-hassan .details-hassan .data-hassan h3{
  font-size: 1em;
  color: #b5b2b2;
  line-height: 1.2em;
  font-weight: 600;
}

.card-hassan .content-hassan .details-hassan .data-hassan h3 span{
 font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;

}

.card-hassan .content-hassan .details-hassan .actionButton-hassan{
 display: flex;
 justify-content: space-between;
 /* gap: 20px; */
}

.card-hassan .content-hassan .details-hassan .actionButton-hassan button{
padding: 10px 30px;
border-radius: 5px;
border: none;
font-size: 1em;
font-weight: 500;
background: #60608e;
color: black;
cursor: pointer;
}

.card-hassan .content-hassan .details-hassan .actionButton-hassan button:nth-child(2){
 border: 1px solid #b5b2b2;
 color: aliceblue;
 background: #775ab1;
}

/* fourth card */
.seif-location{
  position: relative;
  top: 250px;
  left: 20px;
}

.card-seif{
  display: flex;
  position: relative;
  align-items: center;
  width: 350px;
  height: 190px;
  background: linear-gradient(270deg,#00001c,#01013c);
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0, 0, 0.1);
  border:2px solid #d9fb02;
  transition: 0.5s;

}
.card-seif:hover{
  height:450px;
}

.imgBox-seif{
  position: absolute;
  left:50%;
  top: -50px;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #b3b3b3;
  border-radius: 20px;
  background: linear-gradient(270deg,#00001c,#01013c);
  overflow: hidden;
  transition: 0.5s;

}
.card-seif:hover .imgBox-seif{
  width: 220px;
  height: 220px;
}

.imgBox-seif img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.card-seif .content-seif{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;


  
}


.card-seif .content-seif .details-seif{
 padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);

}
.card-seif:hover .content-seif .details-seif{
 transform: translateY(0px);
}

.card-seif .content-seif .details-seif h2{
 font-size: 1.25em;
 font-weight: 600;
 color: #b3b3b3;
 line-height: 1.2em;


}
.card-seif .content-seif .details-seif h2 span{
 font-size: 0.75em;
 font-weight: 500;
 opacity: 0.5;
}

.card-seif .content-seif .details-seif .data-seif{
 display: flex;
 justify-content: space-between;
 margin: 20px 0;

}
.card-seif .content-seif .details-seif h3{
  font-size: 1em;
  color: #b5b2b2;
  line-height: 1.2em;
  font-weight: 600;
}

.card-seif .content-seif .details-seif h3 span{
 font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;

}

.card-seif .content-seif .details-seif .actionButton-seif{
 display: flex;
 justify-content: space-between;
 /* gap: 20px; */
}

.card-seif .content-seif .details-seif .actionButton-seif button{
padding: 10px 30px;
border-radius: 5px;
border: none;
font-size: 1em;
font-weight: 500;
background: #60608e;
color: black;
cursor: pointer;
}

.card-seif .content-seif .details-seif .actionButton-seif button:nth-child(2){
 border: 1px solid #b5b2b2;
 color: aliceblue;
 background: #775ab1;
}

.seif-location1{
  position: absolute;
  top: 250px;
  left: 399px;

}

.seif-location2{
  position: absolute;
  top: 250px;
  left: 775px;
}


/* games section */

.games-section{
  height: 100vh;
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 700px;
  left: 80px;

}
.card-GTA{
  display: flex;
  position: relative;
  align-items: center;
  width: 350px;
  height: 190px;
  background: linear-gradient(270deg,#00001c,#01013c);
  border-radius: 20px;
  top: 250px;
  left: 30px;
  box-shadow: 0 35px 80px rgba(0,0, 0, 0.1);
  border:2px solid #d9fb02;
  transition: 0.5s;
  
}

.card-GTA:hover{
  height:450px;
  
}
.imgBox-GTA{
  position: absolute;
  left:50%;
  top: -50px;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #b3b3b3;
  border-radius: 20px;
  background: linear-gradient(270deg,#00001c,#01013c);
  overflow: hidden;
  transition: 0.5s;
}

.card-GTA:hover .imgBox-GTA{
  width: 220px;
  height: 220px;
}
.imgBox-GTA img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  align-items: center;
}

.card-GTA .content-GTA{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;


  
}
.card-GTA .content-GTA .details-GTA{
 padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);

}
.card-GTA:hover .content-GTA .details-GTA{
 transform: translateY(0px);
}

.card-GTA .content-GTA .details-GTA h2{
  font-size: 1.25em;
  font-weight: 600;
  color: #b3b3b3;
  line-height: 1.2em;


}
.card-GTA .content-GTA .details-GTA h2 span{
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card-GTA .content-GTA .details-GTA .data-GTA{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
 
}
.card-GTA .content-GTA .details-GTA .data-GTA h3{
   font-size: 1em;
   color: #b5b2b2;
   line-height: 1.2em;
   font-weight: 600;
}

.card-GTA .content-GTA .details-GTA .data-GTA h3 span{
  font-size: 0.85em;
   font-weight: 400;
   opacity: 0.5;

}

.card-GTA .content-GTA .details-GTA .actionButton-GTA{
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.card-GTA .content-GTA .details-GTA .actionButton-GTA button{
padding: 10px 30px;
border-radius: 5px;
border: none;
font-size: 1em;
font-weight: 500;
background: #60608e;
color: black;
cursor: pointer;
}

.card-GTA .content-GTA .details-GTA .actionButton-GTA button:nth-child(2){
  border: 1px solid #b5b2b2;
  color: aliceblue;
  background: #775ab1;
}

/* 2nd card- games */

.card-LL{
  display: flex;
  position: absolute;
  align-items: center;
  width: 350px;
  height: 190px;
  background: linear-gradient(270deg,#00001c,#01013c);
  border-radius: 20px;
  top: 250px;
  left: 400px;
  box-shadow: 0 35px 80px rgba(0,0, 0, 0.1);
  border:2px solid #d9fb02;
  transition: 0.5s;
  
}

.card-LL:hover{
  height:450px;
  
}
.imgBox-LL{
  position: absolute;
  left:50%;
  top: -50px;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #b3b3b3;
  border-radius: 20px;
  background: linear-gradient(270deg,#00001c,#01013c);
  overflow: hidden;
  transition: 0.5s;
}

.card-LL:hover .imgBox-LL{
  width: 220px;
  height: 220px;
}
.imgBox-LL img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  align-items: center;
}

.card-LL .content-LL{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;


  
}
.card-LL .content-LL .details-LL{
 padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);

}
.card-LL:hover .content-LL .details-LL{
 transform: translateY(0px);
}

.card-LL .content-LL .details-LL h2{
  font-size: 1.25em;
  font-weight: 600;
  color: #b3b3b3;
  line-height: 1.2em;


}
.card-LL .content-LL .details-LL h2 span{
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card-LL .content-LL .details-LL .data-LL{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
 
}
.card-LL .content-LL .details-LL .data-LL h3{
   font-size: 1em;
   color: #b5b2b2;
   line-height: 1.2em;
   font-weight: 600;
}

.card-LL .content-LL .details-LL .data-LL h3 span{
  font-size: 0.85em;
   font-weight: 400;
   opacity: 0.5;

}

.card-LL .content-LL .details-LL .actionButton-LL{
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.card-LL .content-LL .details-LL .actionButton-LL button{
padding: 10px 30px;
border-radius: 5px;
border: none;
font-size: 1em;
font-weight: 500;
background: #60608e;
color: black;
cursor: pointer;
}

.card-LL .content-LL .details-LL .actionButton-LL button:nth-child(2){
  border: 1px solid #b5b2b2;
  color: aliceblue;
  background: #775ab1;
}





/* 3rd card - games */





.card-overWatch{
  display: flex;
  position: absolute;
  align-items: center;
  width: 350px;
  height: 190px;
  background: linear-gradient(270deg,#00001c,#01013c);
  border-radius: 20px;
  top: 250px;
  left: 800px;
  box-shadow: 0 35px 80px rgba(0,0, 0, 0.1);
  border:2px solid #d9fb02;
  transition: 0.5s;
  
}

.card-overWatch:hover{
  height:450px;
  
}
.imgBox-overWatch{
  position: absolute;
  left:50%;
  top: -50px;
  transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #b3b3b3;
  border-radius: 20px;
  background: linear-gradient(270deg,#00001c,#01013c);
  overflow: hidden;
  transition: 0.5s;
}

.card-overWatch:hover .imgBox-overWatch{
  width: 220px;
  height: 220px;
}
.imgBox-overWatch img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  align-items: center;
}

.card-overWatch .content-overWatch{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;


  
}
.card-overWatch .content-overWatch .details-overWatch{
 padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(150px);

}
.card-overWatch:hover .content-overWatch .details-overWatch{
 transform: translateY(0px);
}

.card-overWatch .content-overWatch .details-overWatch h2{
  font-size: 1.25em;
  font-weight: 600;
  color: #b3b3b3;
  line-height: 1.2em;


}
.card-overWatch .content-overWatch .details-overWatch h2 span{
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.card-overWatch .content-overWatch .details-overWatch .data-overWatch{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
 
}
.card-overWatch .content-overWatch .details-overWatch .data-overWatch h3{
   font-size: 1em;
   color: #b5b2b2;
   line-height: 1.2em;
   font-weight: 600;
}

.card-overWatch .content-overWatch .details-overWatch .data-overWatch h3 span{
  font-size: 0.85em;
   font-weight: 400;
   opacity: 0.5;

}

.card-overWatch .content-overWatch .details-overWatch .actionButton-overWatch{
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.card-overWatch .content-overWatch .details-overWatch .actionButton-overWatch button{
padding: 10px 30px;
border-radius: 5px;
border: none;
font-size: 1em;
font-weight: 500;
background: #60608e;
color: black;
cursor: pointer;
}

.card-overWatch .content-overWatch .details-overWatch .actionButton-overWatch button:nth-child(2){
  border: 1px solid #b5b2b2;
  color: aliceblue;
  background: #775ab1;
}




